ul.nav li:hover{
    background: gray;
    
}
.sec1{
    height: 350px;
}

.list-group-horizontal .list-group-item {
    color: aliceblue;
    display: inline-block;
    height:350px;
    background: gray;
    margin:15 0;
	margin-bottom: 0;
	margin-left:0px;
    margin-right: 0;
    padding-top: 100px;
}
.list-group-horizontal .list-group-item p{
    height: 50px;
}
.list-group-horizontal .list-group-item button{
    margin: 30px auto;
}
.list-group-horizontal .list-group-item:first-child {
    
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
    border-bottom-left-radius:0;
}
.jumbotron{
    margin-left: 15px;
    padding-left: 55px;
}
.sec2{
    margin-top: 30px;
}
.sec2 .jumbotron{
    height: 400px;
    font-size: 2em;
}
.sec3{
    height: 450px;
}
.sec3 button{
    background: black;
    color: white;
}
.sec3 button:hover{
    background: rgb(49, 49, 49);
    color: wheat;
}
.sec4{
    height: 550px;
    background: rgb(14, 12, 12);
    color: white;
}
.carousel {
    margin-bottom: 0;
    padding: 50px 40px 30px 40px;
    text-align: center;

}
/* The controlsy */
.carousel-control {
    margin-left: -60px;
    padding-top: 100px;
    font-weight: bold;
    font-size: 10em;
}
.carousel-control.left{
        font-size: 5em;
    }

.carousel-control.right {
    font-size: 5em;
    right: 22px;
    margin-right: -60px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
    margin-right: -19px;
    margin-bottom: -30px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
footer{
    color: #cecece;
    padding-top: 7em;
    text-align: center;
    height: 300px;
    background: rgba(12, 11, 11, 0.781);
}